.preview-container2 img {
  width: 250px;
  cursor: pointer;
}

.carousel-inner {
  left: 0;
  overflow: visible;
  transition: left 1s;
}

.navbar .dropdown-menu {
  position: absolute;
  left: -110px;
}
